<form action="/skills" method="post">
  <p>Enter a new skill:</p>
  <input type='text' name='skill[title]'/><br/>
  <textarea name='skill[description]'></textarea><br/>
  <input type='submit'/>
</form>
